<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="nay.kirill.bluetooth.server.service"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
</manifest>